<!DOCTYPE html>
<html lang="en" xmlns:th=“https://www.thymeleaf.org” >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
  <script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
  <script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
  <script type="text/javascript" src='/js/comment.js'></script>
</head>
<body>
  <div class="p-5">
    <input type="hidden" id="data-id" th:attr="title=${data.id}" >
    <div class="form-group w-100">
      <label for="name" class="form-label">작성자 :</label>
      <input type="text" id="name" name="makerName" th:value="${data.makerName}" readonly/>
    </div>
    <div class="form-group w-100">
      <label for="title" class="form-label">제목 :</label>
      <input type="text" id="title" name="title" th:value="${data.title}" readonly/>
    </div>
    <div class="form-group w-100">
      <textarea class="form-control" style="height:400px" name="contents" id="contents" th:text="${data.contents}" readonly></textarea>
    </div>
    <div class="form-group w-100">
      <input type="button" class="btn btn-outline-primary" value="수정" onclick="openModal(true)"  />
      <input type="button" class="btn btn-outline-danger" value="삭제" onclick="openModal(false)" />
    </div>
  </div>
  <div class="modal" id="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">비밀번호 입력</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          <p>글 생성시 입력한 비밀번호를 입력해 주세요</p>
            <input id="input-password" type="password" class="form-control">
        </div>
        <div class="modal-footer">
          <button id="btn-submit" class="btn btn-outline-primary" value="확인">확인</button>
          <button class="btn btn-outline-danger" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>