<!DOCTYPE html>
<html lang="en" xmlns:th=“https://www.thymeleaf.org” >
<head>
    <meta charset="UTF-8">
    <title th:text="${isEdit?'수정하기':'새 글 작성'}">Title</title>
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
    <script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
    <script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
</head>
<body>
   <form th:action="${'/notice/'+data.id}" method="POST" class="p-5">
       <input th:if="${isEdit}" type="hidden" name="_method" value="PUT" />
       <div class=" w-100">
            <input type="text" style="display: none" th:value="${data.id}" name="id" value="0"/>
        </div>
        <div class="w-100">
            <label for="title" class="label" style="font-size: xx-large">제목 :</label>
            <input type="text" style="font-size: xx-large" id="title" name="title" th:value="${data.title}"/>
        </div>
        <div class="w-100">
            <textarea class="w-100" style="height:400px" name="contents" id="contents" th:text="${data.contents}"></textarea>
        </div>
        <div class="w-100">
            <input type="submit" class="btn btn-outline-primary" value="저장"/>
        </div>
    </form>
</body>
</html>